<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do País</title>
</head>
<body>
    <h2>Detalhes do País</h2>

    <ul>
        <li><strong>Nome:</strong> {{ pais.nome }}</li>
        <li><strong>Continente:</strong> {{ pais.continente }}</li>
        <li><strong>População:</strong> {{ pais.populacao }}</li>
        <li><strong>PIB:</strong> {{ pais.pib }}</li>
        <li><strong>Expectativa de Vida:</strong> {{ pais.expectativa }}</li>
    </ul>

    <a href="/listar_paises">Voltar para a lista de países</a>
</body>
</html>
